[submodule "plugins/view_customize"]
	path = plugins/view_customize
	url = https://github.com/onozaty/redmine-view-customize.git
[submodule "public/themes/redmine-theme-flat"]
	path = public/themes/redmine-theme-flat
	url = https://github.com/tsi/redmine-theme-flat
[submodule "plugins/a_common_libs"]
	path = plugins/a_common_libs
	url = https://sonatine726@bitbucket.org/dkuk/a_common_libs.git
[submodule "plugins/usability"]
	path = plugins/usability
	url = https://sonatine726@bitbucket.org/dkuk/usability.git
[submodule "plugins/redmine_mentions"]
	path = plugins/redmine_mentions
	url = https://github.com/arkhitech/redmine_mentions
[submodule "plugins/redmine_slack"]
	path = plugins/redmine_slack
	url = https://github.com/sciyoshi/redmine-slack
